.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    background-color: #fff;
    padding: 32px 50px;
    max-width: 730px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

.modal__close-btn {
    position: absolute;
    background-image: url(../images/X.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border: none;
    background-color: transparent;
    color: rgba(33, 33, 33);
    opacity: 40%;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
}

.modal__close-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.modal__title {
    font-size: 32px;
    color: rgba(33, 33, 33);
    line-height: 1;
    margin: 0 0 32px;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: rgba(33, 33, 33, 0.7);
    font-size: 16px;
    line-height: 1;
    margin-bottom: 32px;
}

.modal__input {
    border-radius: 8px;
    border-color: rgba(33, 33, 33, 0.4);
    border-width: 1px;
    color: rgba(33, 33, 33);
    font-size: 20PX;
    line-height: 1;
    padding: 16px 12px;
}

.modal__input_type_error {
    border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
    opacity: 1;
    cursor: pointer;
}

.modal__error {
    display: block;
    margin-top: 8px;
    color: rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
    background-color: rgba(33, 33, 33);
    color: rgba(252, 245, 229);
    border-radius: 8px;
    border: none;
    width: 156px;
    padding: 18px 0;
}

.modal__submit-btn:hover {
    opacity: .8;
    cursor: pointer;
}

.modal__submit-btn_inactive {
    opacity: .5;
}

.modal__container_type_preview {
    padding: 0;
    background: none;
    width: auto;
}

.modal__close-btn_type_preview {
    background-image: url(../images/XLight.svg);
    top: 0;
    right: -50px;
    opacity: 1;
}

.modal__image {
    padding: 0;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    max-width: 80vw;
    max-height: 80vh;
}

.modal__caption {
    position: absolute;
    left: 0;
    top: calc(100% + -15px);
    padding: 4px 8px;
    color: #fff;
    background-color: rgba(33, 33, 33);
    border-radius: 8px;
}

@media screen and (max-width: 627px) {
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }

    .modal__container_type_preview {
        padding: 0;
        width: 320px;
        top: 89px;
        left: 16px;
    }

    .modal__title {
        font-size: 20px;
        margin: 10px 0 34px;
    }

    .modal__close-btn {
        top: 12px;
        right: 12px;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__submit-btn {
        width: 100%;
    }

    .modal__image {
        max-width: 90vw;
    }

    .modal__close-btn_type_preview {
        position: absolute;
        top: -41px;
        left: 254px;
    }
}
